In [0]:
from pyspark.sql.functions import col
from pyspark.sql.types import IntegerType, DoubleType, BooleanType, DateType

In [0]:
# Unmount the existing mount point if it exists
try:
    dbutils.fs.unmount("/mnt/tokyoolympic")
except Exception as e:
    print(f"Unmount failed: {e}")

# Define the configuration
configs = {
    "fs.azure.account.auth.type": "OAuth",
    "fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
    "fs.azure.account.oauth2.client.id": "ce248842-9608-43d6-911d-5abe7fda80f1",
    "fs.azure.account.oauth2.client.secret": "DbJ8Q~FpBAVWiZLqYK4uSDMYDd0ZxogSvtdaKcPM",
    "fs.azure.account.oauth2.client.endpoint": "https://login.microsoftonline.com/be8d6519-d8e4-467a-ac58-8ff9ac2db9ec/oauth2/token"
}

# Mount the storage
dbutils.fs.mount(
    source="abfss://tokyo-olympic-data@tokyoolympicdatam.dfs.core.windows.net",
    mount_point="/mnt/tokyoolympic",
    extra_configs=configs
)

/mnt/tokyoolympic has been unmounted.

True

In [0]:
%fs
ls "mnt/tokyoolympic"

path,name,size,modificationTime
dbfs:/mnt/tokyoolympic/raw-data/,raw-data/,0,1725998005000
dbfs:/mnt/tokyoolympic/transformed-data/,transformed-data/,0,1725998020000

In [0]:
spark

In [0]:
athletes = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/mnt/tokyoolympic/raw-data/athletes.csv")
coaches = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/mnt/tokyoolympic/raw-data/coaches.csv")
entriesgender = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/mnt/tokyoolympic/raw-data/entriesgender.csv")
medals = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/mnt/tokyoolympic/raw-data/medals.csv")
teams = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/mnt/tokyoolympic/raw-data/teams.csv")

In [0]:
athletes.show()

+--------------------+--------------------+-------------------+
|          PersonName|             Country|         Discipline|
+--------------------+--------------------+-------------------+
|     AALERUD Katrine|              Norway|       Cycling Road|
|         ABAD Nestor|               Spain|Artistic Gymnastics|
|   ABAGNALE Giovanni|               Italy|             Rowing|
|      ABALDE Alberto|               Spain|         Basketball|
|       ABALDE Tamara|               Spain|         Basketball|
|           ABALO Luc|              France|           Handball|
|        ABAROA Cesar|               Chile|             Rowing|
|       ABASS Abobakr|               Sudan|           Swimming|
|    ABBASALI Hamideh|Islamic Republic ...|             Karate|
|       ABBASOV Islam|          Azerbaijan|          Wrestling|
|        ABBINGH Lois|         Netherlands|           Handball|
|         ABBOT Emily|           Australia|Rhythmic Gymnastics|
|       ABBOTT Monica|United States of ...|  Baseball/Softball|
|ABDALLA Abubaker ...|               Qatar|          Athletics|
|      ABDALLA Maryam|               Egypt|  Artistic Swimming|
|      ABDALLAH Shahd|               Egypt|  Artistic Swimming|
| ABDALRASOOL Mohamed|               Sudan|               Judo|
|   ABDEL LATIF Radwa|               Egypt|           Shooting|
|    ABDEL RAZEK Samy|               Egypt|           Shooting|
|   ABDELAZIZ Abdalla|               Egypt|             Karate|
+--------------------+--------------------+-------------------+
only showing top 20 rows

In [0]:
athletes.printSchema()

root
 |-- PersonName: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Discipline: string (nullable = true)

In [0]:
coaches.show()

+--------------------+--------------------+-----------------+--------+
|                Name|             Country|       Discipline|   Event|
+--------------------+--------------------+-----------------+--------+
|     ABDELMAGID Wael|               Egypt|         Football|    NULL|
|           ABE Junya|               Japan|       Volleyball|    NULL|
|       ABE Katsuhiko|               Japan|       Basketball|    NULL|
|        ADAMA Cherif|       C�te d'Ivoire|         Football|    NULL|
|          AGEBA Yuya|               Japan|       Volleyball|    NULL|
|AIKMAN Siegfried ...|               Japan|           Hockey|     Men|
|       AL SAADI Kais|             Germany|           Hockey|     Men|
|       ALAMEDA Lonni|              Canada|Baseball/Softball|Softball|
|     ALEKNO Vladimir|Islamic Republic ...|       Volleyball|     Men|
|     ALEKSEEV Alexey|                 ROC|         Handball|   Women|
|ALLER CARBALLO Ma...|               Spain|       Basketball|    NULL|
|       ALSHEHRI Saad|        Saudi Arabia|         Football|     Men|
|           ALY Kamal|               Egypt|         Football|    NULL|
| AMAYA GAITAN Fabian|         Puerto Rico|       Basketball|    NULL|
|    AMO AGUADO Pablo|               Spain|         Football|    NULL|
|   ANDONOVSKI Vlatko|United States of ...|         Football|   Women|
|        ANNAN Alyson|         Netherlands|           Hockey|   Women|
|  ARNAU CREUS Xavier|               Japan|           Hockey|   Women|
|       ARNOLD Graham|           Australia|         Football|     Men|
|         AXNER Tomas|              Sweden|         Handball|   Women|
+--------------------+--------------------+-----------------+--------+
only showing top 20 rows

In [0]:
coaches.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- Event: string (nullable = true)

In [0]:
entriesgender.show()

+--------------------+------+----+-----+
|          Discipline|Female|Male|Total|
+--------------------+------+----+-----+
|      3x3 Basketball|    32|  32|   64|
|             Archery|    64|  64|  128|
| Artistic Gymnastics|    98|  98|  196|
|   Artistic Swimming|   105|   0|  105|
|           Athletics|   969|1072| 2041|
|           Badminton|    86|  87|  173|
|   Baseball/Softball|    90| 144|  234|
|          Basketball|   144| 144|  288|
|    Beach Volleyball|    48|  48|   96|
|              Boxing|   102| 187|  289|
|        Canoe Slalom|    41|  41|   82|
|        Canoe Sprint|   123| 126|  249|
|Cycling BMX Frees...|    10|   9|   19|
|  Cycling BMX Racing|    24|  24|   48|
|Cycling Mountain ...|    38|  38|   76|
|        Cycling Road|    70| 131|  201|
|       Cycling Track|    90|  99|  189|
|              Diving|    72|  71|  143|
|          Equestrian|    73| 125|  198|
|             Fencing|   107| 108|  215|
+--------------------+------+----+-----+
only showing top 20 rows

In [0]:
entriesgender.printSchema()

root
 |-- Discipline: string (nullable = true)
 |-- Female: integer (nullable = true)
 |-- Male: integer (nullable = true)
 |-- Total: integer (nullable = true)

In [0]:
entriesgender = entriesgender.withColumn("Females", col("Female").cast(IntegerType()))\
    .withColumn("Males", col("Male").cast(IntegerType()))\
        .withColumn("Total", col("Total").cast(IntegerType()))

In [0]:
entriesgender.printSchema()

root
 |-- Discipline: string (nullable = true)
 |-- Female: integer (nullable = true)
 |-- Male: integer (nullable = true)
 |-- Total: integer (nullable = true)
 |-- Females: integer (nullable = true)
 |-- Males: integer (nullable = true)

In [0]:
entriesgender.show()

+--------------------+------+----+-----+-------+-----+
|          Discipline|Female|Male|Total|Females|Males|
+--------------------+------+----+-----+-------+-----+
|      3x3 Basketball|    32|  32|   64|     32|   32|
|             Archery|    64|  64|  128|     64|   64|
| Artistic Gymnastics|    98|  98|  196|     98|   98|
|   Artistic Swimming|   105|   0|  105|    105|    0|
|           Athletics|   969|1072| 2041|    969| 1072|
|           Badminton|    86|  87|  173|     86|   87|
|   Baseball/Softball|    90| 144|  234|     90|  144|
|          Basketball|   144| 144|  288|    144|  144|
|    Beach Volleyball|    48|  48|   96|     48|   48|
|              Boxing|   102| 187|  289|    102|  187|
|        Canoe Slalom|    41|  41|   82|     41|   41|
|        Canoe Sprint|   123| 126|  249|    123|  126|
|Cycling BMX Frees...|    10|   9|   19|     10|    9|
|  Cycling BMX Racing|    24|  24|   48|     24|   24|
|Cycling Mountain ...|    38|  38|   76|     38|   38|
|        Cycling Road|    70| 131|  201|     70|  131|
|       Cycling Track|    90|  99|  189|     90|   99|
|              Diving|    72|  71|  143|     72|   71|
|          Equestrian|    73| 125|  198|     73|  125|
|             Fencing|   107| 108|  215|    107|  108|
+--------------------+------+----+-----+-------+-----+
only showing top 20 rows

In [0]:
# Dropping the duplicate "Females" and "Males" columns
entriesgender = entriesgender.drop("Females", "Males")

# Display the cleaned DataFrame
entriesgender.show()

+--------------------+------+----+-----+
|          Discipline|Female|Male|Total|
+--------------------+------+----+-----+
|      3x3 Basketball|    32|  32|   64|
|             Archery|    64|  64|  128|
| Artistic Gymnastics|    98|  98|  196|
|   Artistic Swimming|   105|   0|  105|
|           Athletics|   969|1072| 2041|
|           Badminton|    86|  87|  173|
|   Baseball/Softball|    90| 144|  234|
|          Basketball|   144| 144|  288|
|    Beach Volleyball|    48|  48|   96|
|              Boxing|   102| 187|  289|
|        Canoe Slalom|    41|  41|   82|
|        Canoe Sprint|   123| 126|  249|
|Cycling BMX Frees...|    10|   9|   19|
|  Cycling BMX Racing|    24|  24|   48|
|Cycling Mountain ...|    38|  38|   76|
|        Cycling Road|    70| 131|  201|
|       Cycling Track|    90|  99|  189|
|              Diving|    72|  71|  143|
|          Equestrian|    73| 125|  198|
|             Fencing|   107| 108|  215|
+--------------------+------+----+-----+
only showing top 20 rows

In [0]:
entriesgender.printSchema()

root
 |-- Discipline: string (nullable = true)
 |-- Female: integer (nullable = true)
 |-- Male: integer (nullable = true)
 |-- Total: integer (nullable = true)

In [0]:
medals.show()

+----+--------------------+----+------+------+-----+-------------+
|Rank|         TeamCountry|Gold|Silver|Bronze|Total|Rank by Total|
+----+--------------------+----+------+------+-----+-------------+
|   1|United States of ...|  39|    41|    33|  113|            1|
|   2|People's Republic...|  38|    32|    18|   88|            2|
|   3|               Japan|  27|    14|    17|   58|            5|
|   4|       Great Britain|  22|    21|    22|   65|            4|
|   5|                 ROC|  20|    28|    23|   71|            3|
|   6|           Australia|  17|     7|    22|   46|            6|
|   7|         Netherlands|  10|    12|    14|   36|            9|
|   8|              France|  10|    12|    11|   33|           10|
|   9|             Germany|  10|    11|    16|   37|            8|
|  10|               Italy|  10|    10|    20|   40|            7|
|  11|              Canada|   7|     6|    11|   24|           11|
|  12|              Brazil|   7|     6|     8|   21|           12|
|  13|         New Zealand|   7|     6|     7|   20|           13|
|  14|                Cuba|   7|     3|     5|   15|           18|
|  15|             Hungary|   6|     7|     7|   20|           13|
|  16|   Republic of Korea|   6|     4|    10|   20|           13|
|  17|              Poland|   4|     5|     5|   14|           19|
|  18|      Czech Republic|   4|     4|     3|   11|           23|
|  19|               Kenya|   4|     4|     2|   10|           25|
|  20|              Norway|   4|     2|     2|    8|           29|
+----+--------------------+----+------+------+-----+-------------+
only showing top 20 rows

In [0]:
medals.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- TeamCountry: string (nullable = true)
 |-- Gold: integer (nullable = true)
 |-- Silver: integer (nullable = true)
 |-- Bronze: integer (nullable = true)
 |-- Total: integer (nullable = true)
 |-- Rank by Total: integer (nullable = true)

In [0]:
teams.show()

+-------------+--------------+--------------------+------------+
|     TeamName|    Discipline|             Country|       Event|
+-------------+--------------+--------------------+------------+
|      Belgium|3x3 Basketball|             Belgium|         Men|
|        China|3x3 Basketball|People's Republic...|         Men|
|        China|3x3 Basketball|People's Republic...|       Women|
|       France|3x3 Basketball|              France|       Women|
|        Italy|3x3 Basketball|               Italy|       Women|
|        Japan|3x3 Basketball|               Japan|         Men|
|        Japan|3x3 Basketball|               Japan|       Women|
|       Latvia|3x3 Basketball|              Latvia|         Men|
|     Mongolia|3x3 Basketball|            Mongolia|       Women|
|  Netherlands|3x3 Basketball|         Netherlands|         Men|
|       Poland|3x3 Basketball|              Poland|         Men|
|          ROC|3x3 Basketball|                 ROC|         Men|
|          ROC|3x3 Basketball|                 ROC|       Women|
|      Romania|3x3 Basketball|             Romania|       Women|
|       Serbia|3x3 Basketball|              Serbia|         Men|
|United States|3x3 Basketball|United States of ...|       Women|
|    Australia|       Archery|           Australia|  Men's Team|
|    Australia|       Archery|           Australia|  Mixed Team|
|   Bangladesh|       Archery|          Bangladesh|  Mixed Team|
|      Belarus|       Archery|             Belarus|Women's Team|
+-------------+--------------+--------------------+------------+
only showing top 20 rows

In [0]:
teams.printSchema()

root
 |-- TeamName: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Event: string (nullable = true)

In [0]:
# Find the top countries with the highest number of gold medals
top_gold_medal_countries = medals.orderBy("Gold", ascending=False).show()

+----+--------------------+----+------+------+-----+-------------+
|Rank|         TeamCountry|Gold|Silver|Bronze|Total|Rank by Total|
+----+--------------------+----+------+------+-----+-------------+
|   1|United States of ...|  39|    41|    33|  113|            1|
|   2|People's Republic...|  38|    32|    18|   88|            2|
|   3|               Japan|  27|    14|    17|   58|            5|
|   4|       Great Britain|  22|    21|    22|   65|            4|
|   5|                 ROC|  20|    28|    23|   71|            3|
|   6|           Australia|  17|     7|    22|   46|            6|
|   7|         Netherlands|  10|    12|    14|   36|            9|
|   8|              France|  10|    12|    11|   33|           10|
|   9|             Germany|  10|    11|    16|   37|            8|
|  10|               Italy|  10|    10|    20|   40|            7|
|  14|                Cuba|   7|     3|     5|   15|           18|
|  13|         New Zealand|   7|     6|     7|   20|           13|
|  12|              Brazil|   7|     6|     8|   21|           12|
|  11|              Canada|   7|     6|    11|   24|           11|
|  15|             Hungary|   6|     7|     7|   20|           13|
|  16|   Republic of Korea|   6|     4|    10|   20|           13|
|  19|               Kenya|   4|     4|     2|   10|           25|
|  17|              Poland|   4|     5|     5|   14|           19|
|  18|      Czech Republic|   4|     4|     3|   11|           23|
|  20|              Norway|   4|     2|     2|    8|           29|
+----+--------------------+----+------+------+-----+-------------+
only showing top 20 rows

In [0]:
# Load the medals DataFrame from a CSV file
medals = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/mnt/tokyoolympic/raw-data/medals.csv")

# Find the top countries with the highest number of gold medals
top_gold_medal_countries = medals.orderBy("Gold", ascending=False)

# Display the result
display(top_gold_medal_countries)

Rank,TeamCountry,Gold,Silver,Bronze,Total,Rank by Total
1,United States of America,39,41,33,113,1
2,People's Republic of China,38,32,18,88,2
3,Japan,27,14,17,58,5
4,Great Britain,22,21,22,65,4
5,ROC,20,28,23,71,3
6,Australia,17,7,22,46,6
7,Netherlands,10,12,14,36,9
10,Italy,10,10,20,40,7
8,France,10,12,11,33,10
9,Germany,10,11,16,37,8
11,Canada,7,6,11,24,11
12,Brazil,7,6,8,21,12
13,New Zealand,7,6,7,20,13
14,Cuba,7,3,5,15,18
15,Hungary,6,7,7,20,13
16,Republic of Korea,6,4,10,20,13
18,Czech Republic,4,4,3,11,23
20,Norway,4,2,2,8,29
21,Jamaica,4,1,4,9,26
19,Kenya,4,4,2,10,25
17,Poland,4,5,5,14,19
22,Spain,3,8,6,17,17
28,Serbia,3,1,5,9,26
29,Belgium,3,1,3,7,33
23,Sweden,3,6,0,9,26
31,Slovenia,3,1,1,5,42
24,Switzerland,3,4,6,13,20
30,Bulgaria,3,1,2,6,39
26,Croatia,3,3,2,8,29
32,Uzbekistan,3,0,2,5,42
27,Islamic Republic of Iran,3,2,2,7,33
25,Denmark,3,4,4,11,23
38,Ecuador,2,1,0,3,60
36,Uganda,2,1,1,4,47
42,Bahamas,2,0,0,2,66
41,Qatar,2,0,1,3,60
42,Kosovo,2,0,0,2,66
33,Georgia,2,5,1,8,29
39,Ireland,2,0,2,4,47
36,Greece,2,1,1,4,47
39,Israel,2,0,2,4,47
35,Turkey,2,2,9,13,20
34,Chinese Taipei,2,4,6,12,22
44,Ukraine,1,6,12,19,16
59,Thailand,1,0,1,2,66
45,Belarus,1,3,3,7,33
48,India,1,2,4,7,33
53,Austria,1,1,5,7,33
63,Puerto Rico,1,0,0,1,77
49,"Hong Kong, China",1,2,3,6,39
59,Latvia,1,0,1,2,66
52,South Africa,1,2,0,3,60
55,Indonesia,1,1,3,5,42
50,Slovakia,1,2,1,4,47
56,Ethiopia,1,1,2,4,47
46,Venezuela,1,3,0,4,47
58,Tunisia,1,1,0,2,66
50,Philippines,1,2,1,4,47
59,Estonia,1,0,1,2,66
56,Portugal,1,1,2,4,47
63,Bermuda,1,0,0,1,77
54,Egypt,1,1,4,6,39
46,Romania,1,3,0,4,47
59,Fiji,1,0,1,2,66
63,Morocco,1,0,0,1,77
67,Azerbaijan,0,3,4,7,33
68,Dominican Republic,0,3,2,5,42
77,Namibia,0,1,0,1,77
66,Colombia,0,4,1,5,42
85,Finland,0,0,2,2,66
69,Armenia,0,2,2,4,47
72,Argentina,0,1,2,3,60
70,Kyrgyzstan,0,2,1,3,60
72,San Marino,0,1,2,3,60
74,Jordan,0,1,1,2,66
71,Mongolia,0,1,3,4,47
77,Bahrain,0,1,0,1,77
83,Kazakhstan,0,0,8,8,29
77,Saudi Arabia,0,1,0,1,77
77,North Macedonia,0,1,0,1,77
77,Lithuania,0,1,0,1,77
86,Burkina Faso,0,0,1,1,77
86,Grenada,0,0,1,1,77
77,Turkmenistan,0,1,0,1,77
84,Mexico,0,0,4,4,47
74,Malaysia,0,1,1,2,66
86,Côte d'Ivoire,0,0,1,1,77
86,Ghana,0,0,1,1,77
86,Botswana,0,0,1,1,77
74,Nigeria,0,1,1,2,66
86,Kuwait,0,0,1,1,77
86,Republic of Moldova,0,0,1,1,77
86,Syrian Arab Republic,0,0,1,1,77

In [0]:
athletes.repartition(1).write.mode("overwrite").option("header", "true").csv("/mnt/tokyoolympic/transformed-data/athletes")

In [0]:
coaches.repartition(1).write.mode("overwrite").option("header", "true").csv("/mnt/tokyoolympic/transformed-data/coaches")
entriesgender.repartition(1).write.mode("overwrite").option("header", "true").csv("/mnt/tokyoolympic/transformed-data/entriesgender")
medals.repartition(1).write.mode("overwrite").option("header", "true").csv("/mnt/tokyoolympic/transformed-data/medals")
teams.repartition(1).write.mode("overwrite").option("header", "true").csv("/mnt/tokyoolympic/transformed-data/teams")

In [0]:
dbutils.fs.ls("/mnt/tokyoolympic/transformed-data/")

[FileInfo(path='dbfs:/mnt/tokyoolympic/transformed-data/athletes/', name='athletes/', size=0, modificationTime=1726637010000),
 FileInfo(path='dbfs:/mnt/tokyoolympic/transformed-data/coaches/', name='coaches/', size=0, modificationTime=1726637274000),
 FileInfo(path='dbfs:/mnt/tokyoolympic/transformed-data/entriesgender/', name='entriesgender/', size=0, modificationTime=1726637275000),
 FileInfo(path='dbfs:/mnt/tokyoolympic/transformed-data/medals/', name='medals/', size=0, modificationTime=1726637275000),
 FileInfo(path='dbfs:/mnt/tokyoolympic/transformed-data/teams/', name='teams/', size=0, modificationTime=1726637276000)]

In [0]:
# Show the first few rows of each DataFrame
athletes.show(5)
coaches.show(5)
entriesgender.show(5)
medals.show(5)
teams.show(5)

+-----------------+-------+-------------------+
|       PersonName|Country|         Discipline|
+-----------------+-------+-------------------+
|  AALERUD Katrine| Norway|       Cycling Road|
|      ABAD Nestor|  Spain|Artistic Gymnastics|
|ABAGNALE Giovanni|  Italy|             Rowing|
|   ABALDE Alberto|  Spain|         Basketball|
|    ABALDE Tamara|  Spain|         Basketball|
+-----------------+-------+-------------------+
only showing top 5 rows

+---------------+-------------+----------+-----+
|           Name|      Country|Discipline|Event|
+---------------+-------------+----------+-----+
|ABDELMAGID Wael|        Egypt|  Football| NULL|
|      ABE Junya|        Japan|Volleyball| NULL|
|  ABE Katsuhiko|        Japan|Basketball| NULL|
|   ADAMA Cherif|C�te d'Ivoire|  Football| NULL|
|     AGEBA Yuya|        Japan|Volleyball| NULL|
+---------------+-------------+----------+-----+
only showing top 5 rows

+-------------------+------+----+-----+
|         Discipline|Female|Male|Total|
+-------------------+------+----+-----+
|     3x3 Basketball|    32|  32|   64|
|            Archery|    64|  64|  128|
|Artistic Gymnastics|    98|  98|  196|
|  Artistic Swimming|   105|   0|  105|
|          Athletics|   969|1072| 2041|
+-------------------+------+----+-----+
only showing top 5 rows

+----+--------------------+----+------+------+-----+-------------+
|Rank|         TeamCountry|Gold|Silver|Bronze|Total|Rank by Total|
+----+--------------------+----+------+------+-----+-------------+
|   1|United States of ...|  39|    41|    33|  113|            1|
|   2|People's Republic...|  38|    32|    18|   88|            2|
|   3|               Japan|  27|    14|    17|   58|            5|
|   4|       Great Britain|  22|    21|    22|   65|            4|
|   5|                 ROC|  20|    28|    23|   71|            3|
+----+--------------------+----+------+------+-----+-------------+
only showing top 5 rows

+--------+--------------+--------------------+-----+
|TeamName|    Discipline|             Country|Event|
+--------+--------------+--------------------+-----+
| Belgium|3x3 Basketball|             Belgium|  Men|
|   China|3x3 Basketball|People's Republic...|  Men|
|   China|3x3 Basketball|People's Republic...|Women|
|  France|3x3 Basketball|              France|Women|
|   Italy|3x3 Basketball|               Italy|Women|
+--------+--------------+--------------------+-----+
only showing top 5 rows

In [0]:
# Extract countries and gold medal counts from the medals DataFrame
gold_medals = medals.filter(medals["Gold"] > 0)

# Group by TeamCountry and sum the gold medals
gold_count = gold_medals.groupBy("TeamCountry").sum("Gold").withColumnRenamed("sum(Gold)", "TotalGold")

# Sort by the total gold medals in descending order
top_gold_countries = gold_count.orderBy("TotalGold", ascending=False)

# Show the top 10 countries with the most gold medals
top_gold_countries.show(10)

+--------------------+---------+
|         TeamCountry|TotalGold|
+--------------------+---------+
|United States of ...|       39|
|People's Republic...|       38|
|               Japan|       27|
|       Great Britain|       22|
|                 ROC|       20|
|           Australia|       17|
|              France|       10|
|               Italy|       10|
|         Netherlands|       10|
|             Germany|       10|
+--------------------+---------+
only showing top 10 rows

In [0]:
# Calculate the average male and female participation by Discipline
average_participation = entriesgender.groupBy("Discipline").avg("Female", "Male")

# Rename columns for clarity
average_participation = average_participation.withColumnRenamed("avg(Female)", "AvgFemale").withColumnRenamed("avg(Male)", "AvgMale")

# Show the results
average_participation.show()

+--------------------+---------+-------+
|          Discipline|AvgFemale|AvgMale|
+--------------------+---------+-------+
|              Tennis|     94.0|   97.0|
|              Boxing|    102.0|  187.0|
|   Marathon Swimming|     25.0|   25.0|
|                Golf|     60.0|   60.0|
|              Rowing|    257.0|  265.0|
|   Baseball/Softball|     90.0|  144.0|
|                Judo|    192.0|  201.0|
|             Sailing|    175.0|  175.0|
|            Swimming|    361.0|  418.0|
|Cycling BMX Frees...|     10.0|    9.0|
|          Basketball|    144.0|  144.0|
|            Handball|    168.0|  168.0|
| Rhythmic Gymnastics|     96.0|    0.0|
|              Karate|     40.0|   42.0|
|           Triathlon|     55.0|   55.0|
|           Badminton|     86.0|   87.0|
|        Canoe Sprint|    123.0|  126.0|
|           Athletics|    969.0| 1072.0|
|       Cycling Track|     90.0|   99.0|
|    Beach Volleyball|     48.0|   48.0|
+--------------------+---------+-------+
only showing top 20 rows

In [0]:
# Display a bar chart of the top 10 countries with the most gold medals
display(top_gold_countries.limit(10))

TeamCountry,TotalGold
United States of America,39
People's Republic of China,38
Japan,27
Great Britain,22
ROC,20
Australia,17
France,10
Italy,10
Germany,10
Netherlands,10

In [0]:
# Display a bar chart to visualize average male/female participation per sport
display(average_participation)

Discipline,AvgFemale,AvgMale
Tennis,94.0,97.0
Boxing,102.0,187.0
Marathon Swimming,25.0,25.0
Golf,60.0,60.0
Rowing,257.0,265.0
Baseball/Softball,90.0,144.0
Judo,192.0,201.0
Sailing,175.0,175.0
Swimming,361.0,418.0
Cycling BMX Freestyle,10.0,9.0
Basketball,144.0,144.0
Handball,168.0,168.0
Rhythmic Gymnastics,96.0,0.0
Karate,40.0,42.0
Triathlon,55.0,55.0
Badminton,86.0,87.0
Canoe Sprint,123.0,126.0
Athletics,969.0,1072.0
Cycling Track,90.0,99.0
Beach Volleyball,48.0,48.0
Skateboarding,40.0,40.0
Equestrian,73.0,125.0
Shooting,178.0,178.0
Diving,72.0,71.0
Canoe Slalom,41.0,41.0
Rugby Sevens,146.0,151.0
Artistic Gymnastics,98.0,98.0
Cycling Mountain Bike,38.0,38.0
3x3 Basketball,32.0,32.0
Cycling Road,70.0,131.0
Wrestling,96.0,193.0
Table Tennis,86.0,86.0
Taekwondo,65.0,65.0
Water Polo,122.0,146.0
Weightlifting,98.0,99.0
Surfing,20.0,20.0
Sport Climbing,20.0,20.0
Cycling BMX Racing,24.0,24.0
Trampoline Gymnastics,16.0,16.0
Modern Pentathlon,36.0,36.0
Volleyball,144.0,144.0
Archery,64.0,64.0
Artistic Swimming,105.0,0.0
Fencing,107.0,108.0
Hockey,192.0,192.0
Football,264.0,344.0

In [0]:
# Save top gold countries data to CSV
top_gold_countries.write.csv("/mnt/tokyoolympic/transformed-data/top_gold_countries.csv", header=True)

# Save average participation data to CSV
average_participation.write.csv("/mnt/tokyoolympic/transformed-data/average_participation.csv", header=True)